In [2]:
import numpy as np
import pandas as pd

In [4]:
sporKaloriTablosu_0 = {"İsiim" : ["Ahmet","Ayşe","Özgür"],
                       "Spor" : ["Koşu","Yüzme","Basketbol"],
                       "Kalori" : [100,80,60]
}
dataFrame0 = pd.DataFrame(sporKaloriTablosu_0)

In [5]:
dataFrame0

   İsiim       Spor  Kalori
0  Ahmet       Koşu     100
1   Ayşe      Yüzme      80
2  Özgür  Basketbol      60

In [6]:
sporKaloriTablosu_1 = {"İsiim" : ["Alya","Arkın","Mehmet"],
                       "Spor" : ["Yüzme","Yüzme","Tenis"],
                       "Kalori" : [90,110,120]
}
dataFrame1 = pd.DataFrame(sporKaloriTablosu_1)

In [7]:
dataFrame1

    İsiim   Spor  Kalori
0    Alya  Yüzme      90
1   Arkın  Yüzme     110
2  Mehmet  Tenis     120

In [10]:
sporKaloriTablosu_2 = {"İsiim" : ["Leyla","Mahmut","Orhan"],
                       "Spor" : ["Yüzme","Tenis","Atıcılık"],
                       "Kalori" : [100,90,123]
}
dataFrame2 = pd.DataFrame(sporKaloriTablosu_2)

In [11]:
dataFrame2

    İsiim      Spor  Kalori
0   Leyla     Yüzme     100
1  Mahmut     Tenis      90
2   Orhan  Atıcılık     123

###Concatenation

In [14]:
pd.concat([dataFrame0,dataFrame1,dataFrame2]) 
# axis = 0 durumu aşağıda yer alıyor. axis = 1 yan yana colonları birleştirme

    İsiim       Spor  Kalori
0   Ahmet       Koşu     100
1    Ayşe      Yüzme      80
2   Özgür  Basketbol      60
0    Alya      Yüzme      90
1   Arkın      Yüzme     110
2  Mehmet      Tenis     120
0   Leyla      Yüzme     100
1  Mahmut      Tenis      90
2   Orhan   Atıcılık     123

Merge Operation

In [ ]:
mergeSozluk = {"isim" : ["Ahmet","Ayşe","Mehmet"],
               "spor" : ["Yüzme","Tenis","Futbol"]}